<p class="divider"></p>

<div class="row">
    <div class="col-md-6">
        <div class="text-right col-md-12">
            <i class='fa fa-2x fa-align-justify pointer' title="Format JSON" ng-click="format()"></i>
            <i class='fa fa-2x fa-code pointer' title="Fetch from internet"></i>
        </div>
        <div class="col-md-12">
            <div ui-ace="{ useWrapMode : true,
            theme:'terminal',
            mode: 'javascript',
            firstLineNumber: 1}" ng-model="input"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="col-md-6">
                <label>Select Library</label>
                <select ng-model="selectedLibrary" ng-change="loadLibrary()" ng-init=" selectedLibrary = libraries[0]" ng-options="library.name for library in libraries">
                </select>
            </div>
            <div class="text-right col-md-6">
                <i class='fa fa-2x fa-play-circle pointer' title="Run" ng-click="run()"></i>
                <i class='fa fa-2x fa-save pointer' title="Save locally" ng-click=""></i>
                <i class='fa fa-2x fa-github pointer' title="Save as gist" ng-click="generateGist()"></i>
            </div>
        </div>
        <div class="col-md-12">
            <div ui-ace="{ useWrapMode : true,
            theme:'terminal',
            mode: 'javascript',
            firstLineNumber: 1}" ng-model="rightEditor"></div>
        </div>

    </div>
    <div class="col-md-12 margin-top-10">
        <div ui-ace="{ useWrapMode : true,
            theme:'terminal',
            mode: 'javascript',
            firstLineNumber: 1}" ng-model="resultEditor"></div>
    </div>
</div>