<p class="divider"></p>

<div class="row">
    <div class="col-md-12">
        <div class="field ">
            <input type="text" ng-model="gistUrl" style="width:90%;" />
            <a ng-href="{{gistUrl}}" target="_blank">Gist</a>
        </div>
        <div class="field ">

            <textarea ng-model="gistText" style="width:100%;min-height:200px"></textarea>
            <button type="button" class="btn btn-info" ng-click="generateGist()">Generate</button>
        </div>
    </div>
</div>